APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:OyYUc8Cg/iwwBRF/wnUDsr7XXAMQeTPYlUseR5hBeYI=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=pgsql
DB_HOST=ec2-54-225-121-235.compute-1.amazonaws.com
DB_PORT=5432
DB_DATABASE=dbsmf0pvdov0mv
DB_USERNAME=gsgujdwxsikkjr
DB_PASSWORD=77dd2531806e7701cbc74a56612fdaa47a439ac77dc262b1f374162fc96c0e29

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
